[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "randomForestSRC"]
	path = randomForestSRC
	url = https://github.com/kogalur/randomforestsrc
[submodule "spikeslab"]
	path = spikeslab
	url = https://github.com/cran/spikeslab
[submodule "varPro"]
	path = varPro
	url = https://github.com/kogalur/varpro
